* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: thin solid red; */

}


#MAG a {
    font-size: 16px;
    color: #9b9b9b;
    padding: 5px, 40px;
    border: 2px solid rgb(34, 34, 34);
    height: 5vh;
    background-color: rgb(34, 34, 34);

}


.mary {
    /* display: flex; */
    /* justify-content: center; */
    color: #000000;
    /* font-size: 20px; */
    font-family: sans-serif;
}

/* .search {
    margin-top: 10px;
} */

.search-bar {
    position: relative;
    width: 300px;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the icon */
    box-sizing: border-box;
    border: 1px solid #ccc; /* Adjust color as needed */
    border-radius: 20px;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .bar{
    font-size: 30px;
  }

#section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
}

.icons i {
    font-size: 20px;
    padding: 10px;
   
}
.box1 h1{
    display: flex; 
    justify-content: center;
    margin-right: 20%;
    
}




.imageCnt{
    display: flex;
    gap: 2rem;
    padding: 15px;
}


.imageCnt img{
    width: 100%;
}

#box2{
    border: thin solid red;
    height: 80vh;
}


.carrier{
    display: flex;
    height: 80vh;
    justify-content: center;
    margin-left: 5%;
}

.item{
     
    width: 30%;
    height: 40vh;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 5%;

}
.item:nth-of-type(1){
    background-image: url(https://preview.colorlib.com/theme/magdesign/images/img_2.jpg.webp);
    background-repeat: none;
     background-size: cover;
    
}

.item:nth-of-type(2){
    background-image: url(https://preview.colorlib.com/theme/magdesign/images/img_3.jpg.webp);
    background-repeat: none;
    background-size: cover;
}
.item:nth-of-type(3){
    background-image: url(https://preview.colorlib.com/theme/magdesign/images/img_4.jpg.webp);
    background-repeat: none;
    background-size: cover;
}

.textbody{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between items */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 100%;
}
.oro1{
    margin-top: 80%;
}

   
    

    
    
 

